/* Write your code here. */
.congrats-card-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  background-size: cover;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .congrats-card-container {
    height: 100vh;
  }
}
.heading {
  font-family: "Roboto";
  font-size: 35px;
  align-self: center;
  text-align: center;
}
.employee-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #cffafe;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
@media screen and(max-width:767px) {
  .employee-container {
    max-width: min-content;
    margin: auto;
  }
}

.employee-image {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 100px;
  width: 100px;
}

.name {
  font-family: "Roboto";
  font-size: 25px;
}

.paragraph {
  font-family: "Roboto";
  font-size: 20px;
}
